@font-face {
    font-family: 'neue-font';
    src: url('../fonts/NeueZierSchrift.ttf') format('truetype');
}

@font-face {
    font-family: 'papyrus-font';
    src: url('../fonts/Papyrus.TTF') format('truetype');
}
