.storefront-primary-navigation {
    
}
.site-header {
    position: fixed;
    width: 100%;

    .site-branding {
        font-size: 1.1em;

        .site-title {
            text-transform: uppercase;
        }
    }
}

@media screen and (min-width: 768px) {
    .site-header {
        position: relative;

        .site-branding {
            font-size: 1.3em;
            text-align: center;

            width: 100%;
            margin: 0 auto 2.617924em;
            float: none;

            .site-title {
                text-transform: uppercase;
            }
        }
        &.sticky {
            position: fixed;
            top: -184.537px;
            width: 100%;
        }
    }
}
