#page {
    .site-header {
        position: fixed;
        width: 100%;

        .site-branding {
            .site-title {
                font-size: 3.1em;
                a {
                    font-family: neue-font;
                    font-weight: 100;
                    text-transform: uppercase;
                }
            }
        }
    }
    .site-content {
        margin-top: 250px;
        .woocommerce-breadcrumb {
            position: fixed;
            z-index: 1;

            width: 100%;
            margin-top: -137.25px;
        }
    }
}

@media screen and (min-width: 768px) {
    #page {
        .site-header {
            position: relative;

            .site-branding {
                font-size: 1.3em;
                text-align: center;

                width: 100%;
                margin: 0 auto 2.617924em;
                float: none;

                .site-title {
                    text-transform: uppercase;
                }
            }
        }
        .site-content {
            margin-top: 0;
            .woocommerce-breadcrumb {
                position: relative;
                z-index: 1;

                width: auto;
                margin-top: 0;
            }
        }
        &.sticky-nav {
            .site-header {
                position: fixed;
                top: -204.31px;
                width: 100%;
            }
            .site-content {
                margin-top: 402.241px;
            }
            .woocommerce-breadcrumb {
                position: fixed;
                z-index: 1;

                width: auto;
                margin-top: -325.241px;
            }
        }
    }
    body {
        &.home {
            #page {
                &.sticky-nav {
                    .site-content {
                        margin-top: 342.94px;
                    }
                }
            }
        }
    }
}
