// Search form
/*
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}
*/

select {
    border-radius: 0;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    width: 100%;
    padding: 12.5px 12px;
    margin-bottom: 24px;
    color: #000;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    transition: 0.25s;
}
