// Search form
/*
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}
*/

select {
    font-size: 1rem;
    color: #777;
    padding: 5px 8px;
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 0px;
    background-color: #fff;
}

.storefront-sorting {
    display: none;
}

.woocommerce-message {
    margin-top: 0 !important;
}

table {
    &.variations {
        tr:nth-of-type(n+2) {
            display: none;
        }
    }
    &.variations {
        tr {
        }
    }
}

